<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <title> <%= title %></title>
</head>
<body>
    <div class="wrapper">
        <h1>
            <%= title %>
        </h1>
        <p>this api was build by tabish </p>

        <div class="button-wrapper">
            <button><a href= '<%= website %>' target="_blank">Visit Our Website</a></button>
        </div>
    </div>
</body>
</html>