<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/styles.css" />
    <title>Error page not found</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>404 Error | Page not Found</h1>
      <p>sorry, this page is not available return back.</p>

      <div class="button-wrapper">
        <button><a href="/">Go to home page</a></button>
        <button><a href='<%= website %>' target="_blank">Visit Our Website</a></button>
      </div>
    </div>
  </body>
</html>
